/* Background */
body{
  font-family: Arial, sans-serif;
  padding: 15px;
  width: 260px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

/* Title */
h2{
  text-align: center;
  margin-bottom: 15px;
}

/* Input box */
input{
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
}

/* Button */
button{
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #00e676;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background: #00c853;
}

/* Sections */
h3{
  margin-top: 15px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

/* Boxes */
#time, #savedGoal, #sites{
  background: rgba(255,255,255,0.2);
  padding: 8px;
  border-radius: 6px;
  margin-top: 5px;
}
